<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="styles.css">
            <title>Payment Management</title>
        </head>
        <body id="mainbody">
            <h1>WELCOME TO YOUR PERSONALE FINANCE MANEGER</h1>
            <h2>Choose an Action</h2>
            <form action="/options" method="POST">
                <button type="submit" name="action" value="addPayment">Add Payment</button>
                <button type="submit" name="action" value="addIncome">Add Income</button>
                <button type="submit" name="action" value="dashboard">Dashboard</button>
            </form>
        </body>
        </html>